html {
    font-size: 62.5%; /* 10px */
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

.header-principal {
    background-color: rgb(233, 244, 250);    
    border-bottom: 1px solid #6cc7a7;
    height: 60px;
    line-height: 60px;
}

.header-principal-fixo {    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.header-assinatura {
    text-align: center;
}

.nav-menu {
    float: right;    
}

.menu {
    list-style: none;
    margin: 0px;
    font-size: 1.4rem; /* 14px */ 
           
}

.botao-chaveador {
    background-image: url("Imagens/bars.png");
    width: 24px;
    height: 24px;
    border: 0px;
    outline: none;
    margin-top: 18px;
}

.chamada {
    padding: 80px 0px;    
    background-image: linear-gradient(to bottom, rgb(20, 94, 110) , rgb(108, 199, 167));
    margin-top: 60px;
}

.chamada-infos {
    font-size: 1.6rem;
    text-align: center;
}

.chamada h1 {
    margin: 0px;
    color: #fff;
    font-size: 3.375em; /* 54px */
    line-height: 0.9;
    text-shadow: 1px 1px #1a1a1b;
}

.chamada p {
    margin: 60px 0px;
    color: #fff;
}

.botao-planos, .botao-chamada, .botao-login, .botao-submeter {
    display: inline-block;    
    background-color:#1d8097;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px; 
    line-height: normal;   
    border: none;
}

.form-botao {
    text-align: center;
    margin-top: 40px;
    font-size: 1.8rem;
}

.botao-planos:hover, .botao-planos:focus, .botao-chamada:hover, .botao-chamada:focus, .botao-login:hover, .botao-login:focus, .botao-submeter:hover, .botao-submeter:focus {
    background-color: #1d8197be;
    text-decoration: none;
    color: #fff;
}

.depoimento {
    padding: 80px 0px;
    background-color: rgba(187, 248, 228, 0.425);
}

.depoimento-infos {    
    font-size: 2.2rem; /*22px*/
}

.depoimento-infos > blockquote::before {
    position: absolute;
    color: #ccc;
    content: "\201C";
    font-size: 8em; /* 176px */
    left: 0px;
    top: -0.35em;
}

.depoimento-infos > blockquote {
    position: relative;
    margin: 0px;
    padding: 0px 60px;
    text-align: center;
}

.depoimento-autor {
    margin-top: 40px;
    text-align: center;
    font-size: 0.7272em; /*16px*/
}

.depoimento-autor > img {
    border-radius: 50%;
    border: 3px solid #fff;
}

.depoimento-autor > p {
    margin-top: 10px;
}

#planos {
    padding: 80px 0px;    
}

.plano {
    border: 1px solid rgb(108, 199, 167);    
    padding: 10px;    
    border-radius: 20px;
    font-size: 1.4rem;   /* 14px */
    position: relative;
}

.plano-mais-popular::after {
    background-image: linear-gradient(to right, rgb(194, 7, 7) , rgb(223, 22, 22));
    color: #fff;
    content: "MAIS POPULAR";
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 0.7142em; /* 10px */
    line-height: 2.5;
    padding: 0px 10px;
    border-radius: 7px;
}

.plano h2 {
    background-color: #6cc7a7;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    margin: -10px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 2em;
    border-radius: 20px 20px 0px 0px;
}

.plano > div {
    text-align: center;
    font-size: 2em;
    margin: 20px 0px;    
}

.plano > ul {
    list-style: none;
    padding: 0px;
    margin: 20px 0px; 
    font-size: 1em;   
}

.plano > ul > li {
    text-align: center;
}

.rodape-plano {
    text-align: center;
}

.rodape-principal {
    padding: 40px 0px;
    background-color: #1a1a1b;
    color: #fff;
    text-align: center;
}

.titulo-formulario {
    font-family: sans-serif;
    margin: 0px;
    margin-bottom: 40px;    
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;    
    background-image: linear-gradient(45deg, #3e414d, #559c9c);
    background-size: 90%;    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.layout-assinatura {
    padding: 40px 0px;    
}

.grupo-entrada {
    margin-bottom: 15px;    
}

.grupo-entrada > label {
    display: block;
    font-weight: bold;      
}

.campo {
    display: block;
    width: 100%;
    height: 2.8em;
    font-size: 1.4rem;
    padding: 5px;
    border: 1px solid #1d8097;
    border-radius: 5px;
    background-color: #6cc7a717;
    margin-bottom: 1em;
}


@media(max-width: 767px) {
    #planos .row > div:not(.ultima-coluna) {
        margin-bottom: 40px;
    }
}

@media(min-width: 992px) {
    .chamada-infos {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 2.2rem;
    }

    .depoimento-infos {
        padding-left: 15%;
        padding-right: 15%;
        font-size: 2.8rem;
    }

    .botao-chaveador{
        display: none;
    }

    .menu li {        
        display: inline-block;
        padding-right: 20px;        
    }

    .menu > li:last-of-type {
        padding-right: 0px;
    }

    .menu li a:hover, .menu li a:focus {        
        text-decoration: none;        
        font-size: 1.5rem;
        
    }
}

@media(max-width: 991px) {
    .menu {
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 200px;
        background-color: rgb(48, 48, 48);
        border-right: 1px solid rgb(78, 78, 78);
        padding: 20px;  
        display: none;   
    }

    .menu.esta-exibindo {  /*regra de estado*/
        display: block;
    }
    
    .menu li {
        display: block;
        line-height: 3;     
    }
    
    .menu li a {
        color: rgb(255, 255, 255);
        text-decoration: none;        
    }

    .menu li a:hover, .menu li a:focus {
        font-size: 1.5rem;
    }
    
    .botao-login {
        margin-top: 20px;
    }
}